%h1 Listing sources

%table
  %tr
    %th Name
    %th Url
    %th Favorite
    %th
    %th
    %th

  - @sources.each do |source|
    %tr
      %td= source.name
      %td= source.url
      %td= source.favorite
      %td= link_to 'Show', source
      %td= link_to 'Edit', edit_source_path(source)
      %td= link_to 'Destroy', source, :confirm => 'Are you sure?', :method => :delete

%br

= add_button_link_to 'New Source', new_source_path
