%p#notice= notice

%p
  %b Username:
  = @person.username
%p
  %b Email:
  = @person.email
%p
  %b Crypted password:
  = @person.crypted_password
%p
  %b Salt:
  = @person.salt

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
